<!-- forum/create_post.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply to Thread</title>
</head>
<body>
    <h1>Reply to "{{ thread.title }}"</h1>
    <form method="post" action="{% url 'create_post' thread.id %}">
        {% csrf_token %}
        <label for="content">Your Reply:</label>
        <textarea name="content" required></textarea><br>
        <input type="submit" value="Reply">
    </form>
</body>
</html>
