<!-- view_time_slots.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>View Time Slots</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Your Time Slots</h2>

        <div class="list-group">
            {% for time_slot in time_slots %}
                <div id="timeSlot{{ time_slot.id }}" class="list-group-item">
                    <!-- Your existing code for therapist information -->
        
                    <div class="time-range-box">Available Time: <br>
                        <strong>{{ time_slot.start_time|date:'F d, Y H:i' }} - {{ time_slot.end_time|date:'H:i' }}</strong>
                    </div>
                    <div class="time-range-box">Session <br> <strong>{{ time_slot.session_type }}</strong></div>
        
                    {% if selected_time_slot and selected_time_slot.id == time_slot.id %}
                        <p>Selected Time Slot: {{ selected_time_slot.start_time|date:'F d, Y H:i' }} - {{ selected_time_slot.end_time|date:'H:i' }}</p>
                    {% endif %}

                    <!-- Add Edit and Delete buttons/links -->
                    <div class="mt-3">
                        <a href="{% url 'edit_time_slot' time_slot.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_time_slot' time_slot.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-U7UqUu1PA0F5LOL4rH+wp5I9IHRYh4jGgahxMtoTBK8tjBZ/EqWPIhBLg7SIlXZi" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
