<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Product List</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col mb-4">
            <div class="card h-100">
                <div style="height: 200px; overflow: hidden;">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top w-100" style="object-fit: cover; height: 100%;" alt="Product Image">
                    {% else %}
                    <!-- Display a placeholder image or text if no image is available -->
                    <div class="card-img-top" style="background-color: lightgray; height: 100%;"></div>
                    {% endif %}
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">${{ product.price }}</p>
                    <div class="mt-auto">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No products available.</p>
        </div>
        {% endfor %}
    </div>
</div>

<p class="registration-link"><a href="{% url 'add_product' %}">Add Mental Health Related Products</a></p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV7g9Jznz3n8VvCk6PwFbF/+3PaPxMHpGjGwUr6JwXw981cZYdAveF95z2AOb" crossorigin="anonymous"></script>

</body>
</html>
